<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- Spring 的扫描包的形式：@Service注解：Spring容器的-->

    <dubbo:protocol name="dubbo" port="20888"></dubbo:protocol>
	<dubbo:application name="pinyougou-seckill-service"/>
    <dubbo:registry address="zookeeper://192.168.12.168:2181"/>
    <dubbo:annotation package="com.pinyougou.seckill.service.impl" />
   <!-- 此时我们用的实现类@Service注解用的阿里巴巴dubbo 的所以，用dubbo的扫描形式-->

</beans>